**Primitive data types:**
- Number (5, -3.4)
- String ("hello", 'c')
- Bool (True/False), (1/0)

In [13]:
x = 'c'
print(type(x))

<class 'str'>

Collections
- list
- dictionary
- tuple
- set

**Lists**

In [14]:
# list
y = [0, 1, 2, 3]
print(y)

[0, 1, 2, 3]

In [15]:
y = ["My", "name", "is", "Grant"]
y

['My', 'name', 'is', 'Grant']

In [16]:
x2 = 'd'

new_list = [x, x2]
new_list

['c', 'd']

Indexing

In [20]:
grades = [90, 0, 95]

grades[1]

0

Setting/Changing Values

In [22]:
grades[1] = 80
grades

[90, 80, 95]

In [32]:
type(list())

list

In [23]:
grades.append(92)
grades

[90, 80, 95, 92]

In [34]:
grades.remove(95)
grades

[90, 80, 92]

In [36]:
len(grades)

3

In [37]:
grades.remove(80)
len(grades)

2

Parenthesis, brackets, braces ....?

```
( )
[ ]
{ }
```

Functions: `print(), len(), grades.append()`

Square Brackets (lists): `x = [1,2,3]` or indexing a list (`x[1]`) or dictionary (`ages['Grant']`)

Braces (dictionaries): `x = {'a': 1, 'b': 2}`

**Dictionary** - "key-value pairs"

In [41]:
ages = {'Grant': 26, 'Matt': 36}

In [43]:
ages['Grant']

26

In [44]:
ages['Matt']

36

In [45]:
stocks = {'TSLA': 100.43, 'GM': 42.99}
stocks['TSLA']

100.43

In [48]:
ages['Grant'] = 27
ages

{'Grant': 27, 'Matt': 36}

In [49]:
# add new key-value pair to the dictionary
ages['Bob'] = 29
ages

{'Grant': 27, 'Matt': 36, 'Bob': 29}

In [50]:
ages['Grant G'] = 30
ages

{'Grant': 27, 'Matt': 36, 'Bob': 29, 'Grant G': 30}

In [51]:
ages['Grant'] = 26
ages

{'Grant': 26, 'Matt': 36, 'Bob': 29, 'Grant G': 30}

In [52]:
len(ages)

4

In [54]:
car = {
    'make': 'Chevy',
    'model': 'Silverado',
    'year': 2018,
    'color': 'silver',
    'crash_history': [2019, 2021],
    'serviced': True
}

car

{'make': 'Chevy',
 'model': 'Silverado',
 'year': 2018,
 'color': 'silver',
 'crash_history': [2019, 2021],
 'serviced': True}

In [55]:
print('What years did this car crash?', car['crash_history'])

What years did this car crash? [2019, 2021]

In [62]:
ages = {26: ['Grant', 'Jill', 'Jack'], 36: ['Matt']}

# Tell me everyone who is 26 years old
ages[26]

['Grant', 'Jill', 'Jack']

In [63]:
ages

{26: ['Grant', 'Jill', 'Jack'], 36: ['Matt']}

In [64]:
ages.keys()

dict_keys([26, 36])

In [65]:
ages.values()

dict_values([['Grant', 'Jill', 'Jack'], ['Matt']])

In [66]:
# Removing from dictionary
ages.pop(26)
ages

{36: ['Matt']}

In [68]:
del ages[36]

In [69]:
ages

{}

Counting key-value pairs with `dictionary`

In [52]:
vote_count = {"Grant": 2}

vote_count["Grant"]

2

In [54]:
vote_count["Matt"]

KeyError: 'Matt'

In [58]:
vote_count.get("Bob", 0)

0

In [60]:
vote_count = {}

for name in ["Grant", "Matt", "Matt", "Grant", "Matt"]:
    print('name:', name)
    print('vote_count:', vote_count)
    vote_count[name] = vote_count.get(name, 0) + 1
    
vote_count

name: Grant
vote_count: {}
name: Matt
vote_count: {'Grant': 1}
name: Matt
vote_count: {'Grant': 1, 'Matt': 1}
name: Grant
vote_count: {'Grant': 1, 'Matt': 2}
name: Matt
vote_count: {'Grant': 2, 'Matt': 2}

{'Grant': 2, 'Matt': 3}

**If / Else Statements** (conditionals)

In [77]:
a = 4
b = 12
c = 6

if a < b:
    print('b is greater than a')
else:
    print('Not true!')

b is greater than a

In [78]:
b = 2

if a < b:
    print('a < b')
elif a < c:
    print('a not less than b, but it is less than c')
else:
    print('else')

a not less than b, but it is less than c

In [81]:
if True:
    print('hello world')

hello world

In [91]:
name = 'Matt'

if name in ['Grant', 'Matt', 'Bob']:
    print('Found Matt')
else:
    print('Could not find', name)
    
print(name)

print(name + ' Johnson')

Found Matt
Matt
Matt Johnson

Assignment (=) and Equality (==)

In [93]:
x = 2

x == 2

True

`and`

In [95]:
if name in ['Grant', 'Matt', 'Bob'] and True and 2 > 1 and -5 < 11 and 5 > 8:
    print('Found Matt')

`or`

In [97]:
if 5 > 8 or True or -5 > 11:
    print('One of these is True')

One of these is True

In [98]:
x = False

if not x:
    print('Not x')
else:
    print('x is true')

Not x

In [99]:
if not 10 > 20: print('10 is not greater than 20')

10 is not greater than 20

**Tuples**

In [1]:
my_tuple = (1, 2, 3, 4)

# difference between tuple/list
my_tuple[1] = 99

TypeError: 'tuple' object does not support item assignment

**Constants**

In [2]:
PI = 3.14159

**Loops**
- `while`
- `for`

Starting with `while` loops

In [124]:
hey_list = []

i = 0
num_executions = 0

while i < 100:
    i += 5
    num_executions += 1
    
print(num_executions)

20

In [106]:
i = 3

i = i + 1
i

4

In [119]:
i -= 5
i

-13

In [103]:
len(hey_list)

63219555

In [5]:
happy = False

while not happy:
    print('do something fun')
    
    happy = True
        
print('Done! Happy')

do something fun
Done! Happy

`for` loops

In [10]:
range(5) # [0,1,2,3,4]

range(0, 5)

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
for j in range(2, 7):
    print(j)

2
3
4
5
6

In [8]:
for letter in "Matt":
    print(letter)

M
a
t
t

In [9]:
for name in ["Matt", "Grant", "Bob"]:
    print(name)

Matt
Grant
Bob

**Functions**
Functions we've already seen:

```
print()

len()

range()

min()

max()

list.append()
list.remove()
```

In [17]:
def add(a, b):
    print('a:', a)
    print('b:', b)
    return a + b

In [ ]:
print("hello")

In [19]:
summation = add(3, -4)
print(summation)

a: 3
b: -4
-1

In [29]:
def say_hello(other_string):
    print("hello " + other_string)

In [32]:
say_hello("Bob")

hello Bob

**Objects (Classes)**

In [43]:
class Person:
    def __init__(self, first_name, last_name, age, height):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
        self.height = height
        
    def change_age(self):
        self.age += 1

In [44]:
matt = Person("Matt", "Leon", 36, 74)
matt

In [45]:
matt.change_age()

In [46]:
matt.age

37

In [47]:
grant = Person("Grant", "Gasser", 26, 72)

In [48]:
grant.age

26

In [49]:
grant.change_age()
grant.age

27

In [51]:
l = [1,2,3]
l.append(4)
l

[1, 2, 3, 4]

In [ ]:
class List:
    def __init__(self):
        pass
    
    def append(x):
        # adds to end of list

**List Slicing**

In [5]:
x = [0, 1, 2, 3, 4]

x[1:4]

[1, 2, 3]

In [6]:
x[1:]

[1, 2, 3, 4]

In [7]:
x[:]

[0, 1, 2, 3, 4]

In [8]:
x

[0, 1, 2, 3, 4]

In [10]:
x[-2]
# x[3]

3

In [11]:
x[-5]

0

In [18]:
x[::-1]

[4, 3, 2, 1, 0]

In [4]:
for x in range(5):
    print(x)

0
1
2
3
4

**Function and Scope**

Difference `global` and `local` scope

In [22]:
# global scope
x = 1

def add_three_numbers(a, b):
    # 'c' is in local scope
    c = 5
    print(c)
    return a + b + c

In [23]:
add_three_numbers(2,3)

5

10

In [24]:
c

NameError: name 'c' is not defined

In [25]:
x

1

In [26]:
# global scope `for` loops
for name in ['Matt', 'Grant']:
    print(name)

Matt
Grant

In [27]:
name

'Grant'

In [28]:
for i in range(5):
    print(i)

0
1
2
3
4

In [29]:
i

4